body {
    padding: 50px 50px 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; /* keep footer at the bottom */
}
a {
    /*color: #00B7FF;*/
}


a.no-link-color {
    color: black;
}



.email:hover {
    color: #FFFFFF;
    background-color: #7289DA;
}



blockquote{
    color: grey;
}



iframe {
    width: 100%;
    height: 50vh;
    margin-bottom: 3%;
    border: 1px dotted black;
}

blockquote {
    border-left: .3rem solid #7289DA;
}

blockquote.warning {
    border-left: .3rem solid #ca5414;
}

text-muted {
    color: gray;
}

.footer {
    text-align: center
}

@media only screen and (min-width: 0px) {
/* For desktop: */
    h1 {
        font-size: 2rem;
        line-height: 1.2;
    }
    h6 {
        font-size: 1.3rem;
        letter-spacing: 0;
        line-height: 1.4;
    }
    small {
        color:#7289DA;
    }
    p{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    h1 {
        font-size: 3rem;
        line-height: 1.2;
    }
    h6 {
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.4;
    }
    p{
        font-size: 1.3rem;
    }
}
@media only screen and (min-width: 768px) {
/* For desktop: */
    h1 {
        font-size: 4.6rem;
        line-height: 1.2;
    }
    h6 {
        font-size: 1.6rem;
        letter-spacing: 0;
        line-height: 1.4;
    }
    p{
        font-size: 1.2rem;
    }
}